<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Station 1</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet"> 
    <link rel="stylesheet" href="/fonts">
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    <header class="titulo opacidad">
    <div class="contenedor contenido-header">
        <div class="barra">

            <img src="/logo.png" alt="Logo">



            <nav class="navegacion">
                <a href="historicos" target="_blank">Historics</a>
                <a href="/" target="_blank">Back</a>

            </nav>
        </div>
        <h1>Temporary Location Of Vehicle</h1>
    </div>
</header>
  
    <div class="contenedor-sesiones">
        <label for="usuario">Usuario</label>
        <input type="text" name="usuario" id="user">
        <label for="contrase単a">Contrase単a</label>
        <input type="password" name="contrase単a" id="password">
        <button type="button" onclick="validar(user,password)" class="boton boton-verde">Ingresar</button>
    </div>


    </form>
<script>
    function validar(user,password){
        console.log(user.value,password.value)
        if(user.value=="Lab_automatizacion" && password.value=="1234"){
            location.href ="main.html";
        console.log('sesion correcta')
    }else{
        alert('Usuario y contrase単a errados');
    }};
</script>






<!---------------------------------------------------------------------------------------------------------------------------------------------------->
    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav id="navegacion" class="navegacion">
                <a href="/">Home</a>
                <a href="#stations">Monitoring Stations</a>
                <a href="historics.html">Historics</a>
                <a href="#sim-ecoimp">Simulation and Economical Impact</a>
            </nav>
            <p class="copyright">Todos los Derechos Reservados 2020 &copy;</p>
        </div>
    </footer>
</body>
</html>